# Self
.extra
.env_mapillary
*.lock.json

# Emacs
.emacs.d/auto-save-list
.emacs.d/bookmarks
.emacs.d/custom.el
.emacs.d/elpa
.emacs.d/history
.emacs.d/ido.last
.emacs.d/projectile*
.emacs.d/session*
.emacs.d/shell
.emacs.d/transient
.emacs.d/.lsp-session*
.emacs.d/mspyls
